html, body{
    padding: 0px;
    margin: 0px;
}

body{
    background: url(../graphics/background.png);
    font-family: Verdana,Geneva,"DejaVu Sans",sans-serif;
    line-height: 1.5;
}

header, footer{
    background: rgba(0,0,0,.75);
    color: #fff;
}

h1,h2,h3,h4,h5,h6,h7,h8{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 1.75em;
    line-height: 1;
}

h2{
    font-size: 1.25em;
    line-height: 1;
}

h3{
    font-size: 1em;
    line-height: 1;
}
footer{
    font-size: .75em;
    text-align: center;
}
header{
    background-image: url(../graphics/logo.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    min-height: 48px;
    padding-left: 210px;
}
header h1{
    padding: 10px;
    font-size: 1.5em;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


#main{
    margin: 25px;
    padding: 25px;
    border: 5px solid #92B35D;
    -webkit-border-radius: 50px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 50px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(255,255,255,.9);
}
.info{
    border: 2px solid rgba(146,179,93,.5);
    min-height: 50px;
    background: rgba(146,179,93,.25) url(../graphics/info.png) 10px center no-repeat;
    color: #000;
    padding: 10px;
    padding-left: 70px;
    margin-bottom: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.success{
    background: rgba(146,179,93,.25) url(../graphics/success.png) 10px center no-repeat;
}
.error{
    border: 2px solid rgba(166,107,107,.25);
    background: rgba(166,107,107,.25) url(../graphics/error.png) 10px center no-repeat;
}
fieldset{
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-top: 2px;
}
legend, .submit input{
    font-size: 1.25em;
    padding: 5px;
    margin: 0px;
    background-color: #92B35D;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
}
.input, .input input, .input select, .input textarea{
    font-size: 1.125em;
    display: block;
    width: 100%;
}
.input input, .input select, .input textarea{
    padding: 0px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.input{
    padding: 5px;
    margin-bottom: 2px;
    background-color: rgba(200,200,200,.125);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.input:nth-child(odd){
    background-color: rgba(146,179,93,.125);
}
.input label{
    width: 100%;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(146,179,93,.125);
}
.input label em{
    color: rgba(0,0,0,.75);
}
div.submit:nth-child(odd),div.submit:nth-child(even){
    background-color: transparent;
}
.submit input{
    width: 200px;
    text-align: center;
    border: 0px;
    cursor: pointer;
}
.clearfix:after{
    content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix{
    display: inline-block;
}
.left{
    float: left;
}
.right{
    float: right;
}